@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Mobile first */
/* Variables */
:root {
  --primary-white-color: rgb(236, 247, 236);
  --primary-dark-text-color: rgb(17, 15, 15);
  --text-grey-color: rgb(161, 153, 153);
  --headline-font: 'Lobster';
  --text-font: 'Roboto', sans-serif;
  --text-padding: 15px;
}

* {
  margin: 0;
  padding: 0;
}
/* Header and navbar */
header {
  max-width: 100%;
  font-family: Roboto;
}

.container-fluid span a {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 32px;
}

.navbar-brand span a {
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items ul {
  display: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
}
#navbar-btn {
  display: block;
}
.nav-items ul li {
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: black;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .nav-items ul {
    display: flex;
  }
  .btn-dark {
    margin: 10px;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Desktop */
