/* Resets */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MOBILE FIRST */
.headline {
  font-family: Lobster;
  font-size: 38px;
  text-align: center;
  padding: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.headline p {
  text-shadow: 1px 1px 3px black;
}

.animated-logo {
  padding: 20px;
}

.animated-logo p {
  font-size: 8px;
}

.tablet-logo {
  display: none;
}

.about-story {
  font-family: Roboto;
  font-size: 18px;
  padding: 0px 30px;
  border-bottom: 2px solid black;
}

.contributors {
  font-family: Lobster;
  padding: 20px;
  background-color: #b5179e;
  color: #fff;
  border-bottom: 2px solid black;
}

.contributors .thanks {
  font-size: 28px;
}

.contributor p {
  font-family: Roboto;
  padding: 10px 0;
  font-size: 22px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Carousel */

.recommendations {
  border-bottom: 2px solid white;
  background-color: #3a0ca3;
  color: #fff;
}

.recommendations h4 {
  font-family: Lobster;
  padding: 20px;
}

.carousel-item {
  padding: 20px;
}

/* WRITE CTA */

.cta {
  border-bottom: 2px solid black;
  background-color: #3a0ca3;
  color: #fff;
}

.cta h5 {
  font-family: Lobster;
  padding: 20px;
}

.cta p {
  font-family: Roboto;
  padding: 20px;
}

.button {
  margin-bottom: 20px;
}

/* MEMBERSHIP CTA */
.membership-cta {
  color: #fff;
  background-color: black;
  border-bottom: 2px solid black;
}
.membership-cta h5 {
  font-family: Lobster;
  padding: 20px;
}
.membership-cta p {
  font-family: Roboto;
  padding: 20px;
}

/* TABLET */
@media screen and (min-width: 650px) {
  .headline .animated-logo {
    display: none;
  }
  .about-story {
    display: flex;
  }
  .about-text {
    padding: 20px 0px;
    padding-right: 20px;
    border-right: 2px solid black;
    width: 70%;
    text-align: left;
  }
  .tablet-logo {
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;
    align-self: center;
    height: fit-content;
    font-family: Lobster;
    text-align: center;
  }
  .tablet-logo h2 {
    font-size: 36px;
  }
}
